//Fonts
@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,700,900");

html,
body {
    font-family: "Barlow", Helvetica, Arial, sans-serif;
}

//Variables
@animal-main-color: #6ead3b;
@grey-font: #777679;
@pale-grey-main: rgba(221, 222, 223, 1);

//Global uses


//Main Border
#border-top,
#border-bottom,
#border-left,
#border-right {
    background: @animal-main-color;
    position: fixed;
    z-index: 10;
}

#border-left,
#border-right {
    top: 0;
    bottom: 0;
    width: 10px;
}

#border-left {
    left: 0;
}

#border-right {
    right: 0;
}

#border-top,
#border-bottom {
    left: 0;
    right: 0;
    height: 10px;
}

#border-top {
    top: 0;
}

#border-bottom {
    bottom: 0;
}

//********************

#sticky-header {
    height: 130px;
    position: fixed;
    width: inherit;
    left: 10px;
    right: 10px;
    top: 10px;
    background-color: #fff;
    z-index: 10;

    #center-header {
        position: fixed;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        min-height: 130px;
        width: 960px;
    }
}

.spacer {
    height: 173px;
    width: 100%;
}

.logo-img {
    position: absolute;
    top: 23px;
}

.parent-div-header {
    width: 70%;
    height: 130px;
    float: right;
}

.div-header-buttons {
    display: inline-block;
    padding: 0 16;
}

.group-buttons {
    clear: right;
    position: absolute;
    bottom: 30px;
}

.header-buttons {
    height: inherit;
    padding: 0 16 0 16;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: .05em;
    font-family: 'Barlow', sans-serif !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    color: @grey-font;
    background-color: transparent;
    border: transparent;
    cursor: pointer;

    &:hover {
        color: @animal-main-color;
    }
}

.button-boutique {
    float: right;
    border: none;
    width: 191px;
    height: 50px;
    font-size: 16px;
    font-family: 'Barlow', sans-serif !important;
    font-weight: 700 !important;
    color: #fff;
    background-color: @animal-main-color;
    text-transform: uppercase;
    padding: 0;
    margin-left: 1px;
    cursor: pointer;

    &:hover {
        background-color: @pale-grey-main;
        color: @animal-main-color;
    }
}

.div-shopping-icon {
    background-color: @animal-main-color;
    width: 50px;
    height: 50px;
    float: right;
}

.shopping-icon {
    top: 50%;
    left: 50%;
    height: 22px;
    width: 22px;
    padding: 14px;
}

.group-banner {
    height: 484;
    width: 100%;
    background-color: @pale-grey-main;
}

.banner-content {
    width: 960px;
    height: 484px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.banner-paragraphs {
    height: 290px;
    width: 616px;
    float: right;
    margin-top: 10%;
    z-index: 2;

    .inner {
        display: block;
        text-align: center;
    }
}

#first-paragraph {
    letter-spacing: .05em;
    line-height: 1.2em;
    font-size: 25px;
    font-weight: 900 !important;
    color: @grey-font;
    margin: 0;
}

#second-paragraph {
    line-height: 1em;
    font-size: 70px;
    font-weight: 900 !important;
    color: @animal-main-color;
    margin: 0 0 16 0;
}

#third-paragraph {
    letter-spacing: .05em;
    line-height: 1.2em;
    font-size: 25px;
    font-weight: 900 !important;
    color: @grey-font;
    margin: 0;
}

#banner-carrousel {
    z-index: 9;
    height: max-content;
    width: max-content;
    position: absolute;
    top: -65;
    left: -140;

    img {
        width: 50%;
        position: relative;
        left: 60px;
    }
}

.middle-content {
    height: 691px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#sweet-goldenpupper-img {
    width: 682px;
    height: 510px;
}